<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ryoko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <p id="Catogorie">Categorie</p>
  <nav>
    <i class="button" onclick="window.location.href='https://www.google.nl/maps/place/Sizzler/@35.7116441,139.7848095,14.11z/data=!4m8!1m2!2m1!1sRestaurants!3m4!1s0x0:0x2300391566388c25!8m2!3d35.703559!4d139.7533411?hl=nl'">eten</i>
    <i class="button" onclick="window.location.href=''">amusement</i>
    <i class="button" onclick="window.location.href=''">hotel</i>
  </nav>
  </body>
</html>
