.huis {
  position: relative;
  height: 500px;
  width: 400px;
  background-color: black;
}

.dorp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.straat{
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  margin-top: 49vh;
  width: 100vh;
  height: 100vw;
  background: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  transform:rotate(-90deg);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.straat > div{
  margin-bottom: 0;
  color: white;
  border-style: groove;
  transform: rotate(90deg) translateY(-30vh);
  transform-origin: center;
}

/* hier is nu de lijst*/
