body {
  background-color: #e5e5e5;
}

#Catogorie {
  margin-top: 8vh;
  text-align: center;
  font-size: 13vh;
  font-family: arial;
  font-weight: 600;
}

#verder-button {
  position: absolute;
  left: 50%;
  right: 50%;

  border-radius: 1vh;
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  margin-top: 40vh;
  height: 5vh;
  width: 5vh;
}

.active {
  margin-left: 1vw;
  margin-right: 1vw;
}

.usd-rating {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.95vh;
}

.usd-rating input[type=radio] {
    display: none;
}

.usd-rating label {
    color: #bbb;
    font-size: 23vh;
    padding: 0;
    cursor: pointer;
}

.usd-rating label:hover,
.usd-rating label:hover ~ label,
.usd-rating input[type=radio]:checked ~ label {
    color: #00aa00
}
