* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("skyline.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh ;
}

h1 {
   font-family: 'Roboto Mono', monospace;
   color: black;
   font-size: 25px;
   position: relative;
   color: white;
   top: 250px;
   left: 740px;
   padding: 25px;
   margin: 5px;
   border: solid 4px white;
   position: absolute;
}

header {
  background-color: #fff;
  height: 0px;
}

.button {
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  top: 400px;
  left: 920px
}

.content {
  color: black;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.button:hover .content {
  display: block;
}
